.home {
  background-image: url("../Images/Background.png");
  min-height: 830px;
  min-width: 100%;
  background-attachment:fixed;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
  position: relative;
  top: -70px; 
  background-color: #FFF0F5;
  /* background-color: #7e91a6; */
}

.title {
  
  color: #FFFFFF;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
  top: 170px;
  left: 70px;
}

.title h1 {
  font-size: 64px;
}

.sections {
  background-color: #FFF0F5;
  /* background-color: #7e91a6; */
  position: relative;
  top: -100px;
  /* height: 700px; */
}






