.img {
  background-image: url("../Images/Background.png");
  min-height: 700px;
  min-width: 100%;
  background-attachment:fixed;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
  position: relative;
  top: -70px; 
}

.prefForm {
  position: relative;
  top: -50px;
}


.formSection, .titleSection {
  height: 200px;
  background-color: #FFFFFF;
  text-align: center;
  
}


.submitButton {
  display: flex;
  justify-content: center;
}

.custom-btn {
  background: transparent !important;
  color: #000000 !important;
  border-color: #000000 !important;
  padding: 5px 10px;
  text-transform: uppercase;
}

.custom-btn:hover, .custom-btn:focus, .custom-btn:active{
  background: #000000 !important;
  color: #FFFFFF !important;
  border-color: #000000 !important;
  padding: 5px 10px;
  text-transform: uppercase;
}
