.home {
  background-image: url("../Images/Background2.gif");
  min-height: 738px;
  min-width: 100%;
  text-align: center;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
  position: relative;
  top: 80px;
  opacity: 0.75;
}


.background-video {
  height: 900px;
  position: fixed;
}

.home span {
  font-size: 144px;
  color: #FFFFFF;
  font-family: 'Avenir Black', 'Arial Black', sans-serif;
  position: relative;
  top: 240px;
}

.NavBar{
  position: fixed;
  width: 100%;
  top: 0;
  opacity: 1;
}

.sections {
  /* background-color: #FFF0F5; */
  background-color: #FFFFFF;
  position: relative;
  top: 80px;
  
}






